.parent {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  grid-template-rows: 0.325fr 1fr 1fr 1fr 1fr 1fr;

  grid-column-gap: 0px;

  grid-row-gap: 0px;

  height: 100%;
}

.div1 {
  grid-area: 2 / 1 / 7 / 2;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100%;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0px;
  background-color: gray;
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.div1 li {
  /* padding: 6px 8px 6px 70px; */
  /* user-select: all; */
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 12%; */
}

.div1 ul {
    margin: 0;
    padding: 0;
}

.div1 li:hover {
  color: black;
  cursor: pointer;
}

.div1 button {
  background-color: gray;
  border: none; /* Remove borders */
  outline: none;
  color: white; /* White text */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

.div1 ul.note-folders input {
  /* padding: 6px 8px 6px 70px; */
  background-color: black;
  border: blue;
  outline: blue;
  outline-color: blue;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: white;
  height: 4%;
  width: 100%;
}

/* .div1 li::selection {
  user-select: all;
  background-color: red;
  width: auto;
} */

/* Bounce In for Button */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-bounce-in {
    margin-left: 5%;
    position:absolute;
    bottom: 3%;
}

.div2 {
  grid-area: 2 / 2 / 7 / 3;
  background-color: whitesmoke;
  height: 102.75%;
  width: 100%;
}

.div2 a {
  background-color: ghostwhite;
  color: black; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 12px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

#note-area span.time-created p:after {
  border-bottom: 1px solid black;
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 100%; /* Change this to whatever width you want. */
  padding-top: 5px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want.*/
}

/* Pop */
/* @-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.hvr-pop {
  margin-left: 7%;
  position: absolute;
  bottom: 5%;
} */

.div3 {
  grid-area: 2 / 3 / 7 / 6;
  height: auto;
  word-wrap: normal;
  border:1px solid black;
  background-color: lightgrey;
  border: blue;
  text-align: center;
  width: 100%;
  height: 100%;

  position: relative;
}

#add-reminder {
  position: absolute;
  float: right;
  top: 1%;
}

.div3 textarea {
  padding: 4%;
  outline: none;
  border: none;
  height: 100.25%;
  width: 100%;
  background-color: inherit;
  font-size: 18px;
}

.div4 {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  background-color: #000;
  height: 100%;
}

.div4 a {
  float: left;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.div5 {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.div5 #notes {
  float: left;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.div5 #add-note {
  float: right;
  margin-right: 10%;
  margin-top: 9%;
  color: white;
  cursor: pointer;
}

.div5 #remove-note {
  float: right;
  margin-right: 10%;
  margin-top: 9%;
  color: white;
  cursor: pointer;
}

.div6 {
  grid-area: 1 / 3 / 2 / 6;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.div6 a {
  float: left;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10%; /* Location of the box */
  left: 40%;
  top: 0;
  width: 60%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal button {
  top: 10%;
}

 /* Modal Content */
.modal-content {
  background-color: grey;
  color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

 /* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

 .close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
