.parent {

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

    grid-column-gap: 0px;

    grid-row-gap: 0px;

    height: 100%;
}

.div1 {
    grid-area: 2 / 1 / 7 / 2;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 245px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: blue; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.div1 li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.div1 ul {
    margin: 0;
    padding: 0;
}

.div1 li:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.div1 button {
    background-color: red;
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 12px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}
.div1 button:hover {
  background-color: darkred;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.btn {
    margin-left: 45px;
    position:absolute;
    bottom: 40px;
}

.div2 {
  grid-area: 2 / 2 / 7 / 3;
  overflow: scroll;
}

.div3 { grid-area: 2 / 3 / 7 / 6;
height: auto;
word-wrap: normal;

border:1px solid black;
background-color: lightgrey;}

.div4 { grid-area: 1 / 2 / 2 / 6; }

/* #note-content h2{
    text-shadow: 2px 2px blue;
    border: blue;
    text-align: center;
    color: blue;
    font-family:"Impact";
} */

/* input[type="textarea"] {
  word-wrap: inherit;
  outline: none;
  width: 100%;
  height: 50px;
} */

.div3 textarea {
  outline: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: inherit;
  font-size: 18px;
}

.top-note {
  background: #eee;
  width: 100%;
}
